{% extends 'blog/base.html' %}
{% block content %}


    <!-- <section class="intro mt-3">
        
        <h2 style="font-family: Nunito Sans;">Articles</h2>
        {% for blog in blogs %}
        <div class="card shadow my-3 ">
           
            <h2><a class="text-dark mx-3" href="{% url 'detail' blog.id %}">{{ blog.title }}</a></h2>
            <small class="text-dark mx-3 text-muted" style="font-size: medium;">{{ blog.date_created }}</small>
            
            <p class="text-dark my-3 mx-3">{{blog.snippest|safe}} <a href="{% url 'detail' blog.id %}"><i class="fa fa-book-reader" aria-hidden="true"></i></a></p>
           
            </div>
            {% endfor %}
    </section> -->
    <div class="container">
        <!-- <section class="intro"> -->
            <div class="col-md-10 mb-5">
                <h2 style="font-family: Nunito Sans;">Articles</h2>
                {% for blog in blogs %}
                <div class="card shadow my-3">
                    <div class="card-body" >
                        
                          
                            
                               
                                <a class="h3" style="font-family: Nunito Sans;" href="{% url 'detail' blog.id %}">{{ blog.title }}</a>
                                <br>
                                <small>{{ blog.date_created }}</small>
                                <hr>
                                <p class="text-justify my-3">
                                    {{ blog.snippest|safe }}
                                    <a href="{% url 'detail' blog.id %}"><i class="fa fa-book-reader" aria-hidden="true"></i></a>
                                </p>
                           
                       
                    </div>
                </div>
                {% endfor %}
            </div>
        <!-- </section> -->
          

    </div>
  
      
   
    




{% endblock content %}

